

/* Body */
body {
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Appbar */
.appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c3e50;
  color: white;
  padding: 10px 15px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Content */
.content {
  padding: 15px;
  margin-bottom: 70px; /* espace pour ne pas cacher par la bottombar */
}

.post {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Bottom Navbar */
.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #2c3e50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #ddd;
}

.bottombar a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottombar i {
  font-size: 20px;
  margin-bottom: 3px;
}

.bottombar a:hover {
  color: #1abc9c;
}
